* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.event-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 100vh;
  padding: 20px;
}

.add-event-btn-container {
  margin-bottom: 20px;
}

.add-event-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #008cba;  /* blue background button */
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.event-list__table{
  width: 100%;
  border-collapse: separate;    /* each cell has their own borders */
  border-spacing: 0 10px;       /* space between rows */
  border: 3px solid #e6e2d3;  /* solid tan border */
  border-radius: 5px;
  padding: 8px;
  background-color: white;
}

.event-list__thead th {
  padding: 16px;
  text-align: center;           /* center text in their cell */
  vertical-align: middle; 
}

.event-list__table td {
  padding: 14px 18px;           /* (vertical, horizontal) padding */
  text-align: center;
  vertical-align: middle; 
}

.event-list__tbody tr {
  background-color: #e6e2d3;  /* shade the row background tan */
  text-align: center;
  vertical-align: middle;
}

.event-list__tbody td:first-child {
  max-width: 200px;             /* limits width for text wrapping */
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}